<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/webzen-ui/src/component/wz-icon/index.js"></script>
    <style>

    </style>
</head>

<body>
    <script src="index.js" type="module"></script>



    <button>点我</button>
    <script type="module">

        // import {createToast} from "https://cdn.jsdelivr.net/npm/frontmessageplugin/messageDark.js"
        //背景是白色的时候用
        // import {Message} from "./index.js"
        // console.log()
        // let tst =new Message({mode:"light"})
        // tst.createToast("info","你1好",3000)
        // document.querySelector("button").addEventListener("click",()=>{
        //     tst.createToast("info","你1好",3000)
        // })



    </script>

    <script type="module">
        // import Message from "./index.js"
        import Message from 'https://cdn.jsdelivr.net/npm/webzen-ui/src/component/wz-message/index.js';
        let message = new Message({ mode: "light" });
        message.createToast("info", "你1好", 1000, "light")
    </script>
</body>

</html>