<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="index.js"></script>
</head>
<style>


</style>


<style>
  

    .flex {
        display: grid;
        grid-template-columns: 200px 1fr;
    }
</style>




<body>
    <div class="flex">
        <wz-tabs tabs_params='{position:"left"}'>
            <div slot="tabs_index" tab_item_key="1">1333333333333</div>
            <div slot="tabs_index" tab_item_key="2">33</div>

            <div slot="tabs_value" tab_value_key="1">

              
            </div>
            <div slot="tabs_value" tab_value_key="2">33</div>

        </wz-tabs>


    </div>


   
</body>

</html>