::slotted([slot="tabs_index"]){
    font-size: 12px;
    font-family: PingFang, sans-serif;
    line-height: 1rem;
    color: #979797;
    cursor: pointer;
    padding: 10px !important
}
::slotted([slot="tabs_value"]){
    flex: 1;
    height: 100%;
    width: 100%;
	/* overflow-y:hidden; */
}


.component_container {
	display: flex;
	align-items: stretch;
	height: 200px;
	border-right: 0.1px solid rgba(0, 0, 0, 0.1);

}
.center {
	text-align: center;
}

.line {
}


.container::-webkit-scrollbar{
	width: 3px;
	/* 对应横向滚动条的宽度 */
	height: 1px;
	background-color: #f5f5f5;
}
.container::-webkit-scrollbar-thumb {
	background-color: #919b9e;
	border-radius: 32px;
}






.container {
	width: 100%;
	height: 100%;
	flex: 1;
	margin: 0px 10px;
	overflow:scroll;
}

.component_container {
}

.tab {
	display: flex;
	/* 横着排列 */
	flex-direction: column;
	overflow-y: scroll;
	white-space: nowrap;
	border-right: 0.1px solid rgba(0, 0, 0, 0.1);
	position: relative;
}
.tab::-webkit-scrollbar {
	display: none;
}

.tab div {
	font-size: 12px;
	font-family: PingFang, sans-serif;
	line-height: 1rem;
	color: #979797;
	cursor: pointer;
	padding: 10px;
}

.text_active {
	position: relative;
	color: rgb(13, 108, 252);
}

.text_active::after {
	/* content: '';
        position: absolute;
       

        height: 100%;
        right: -5px;
        padding: 0px;
        margin: 0px;
        border: 0.1px solid black;
        z-index: -9; */
}

* {
	transition: all 0.3s;
}

.tab > :not(:first-child) {
	/* margin-top: 15px; */
}

body {
	padding: 30px;
}

.container_item {
	height: 100%;
	overflow-y: scroll;
}

@keyframes move_left {
	0% {
		/* opacity: 1; */
		margin-left: 100%;
		display: none;
	}
	100% {
		opacity: 1;
		margin-left: -0%;
		z-index: 999;
		display: block;
	}
}
.move_left {
	animation-name: move_left;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.divline {
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: calc(16px + 10px + 10px);
	z-index: -9;
	top: 0px;
	transform: scale(1, 0.6);
	border-right: 1px solid rgb(13, 108, 252);
}
