<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        wz-icon{
            transform: rotate(90deg);
        }
    </style>
</head>
<body>
    <script src="index.js" type="module"></script>
    <wz-icon name="solid/0"></wz-icon>

    <wz-icon name="flag"></wz-icon>
    <wz-icon name="solid/angle-right" style="color:red" ></wz-icon>
    
</body>
</html>