<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="index.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <style>
        body {
            background: rgb(30, 30, 30);
        }
    </style>
</head>

<body>

    <div class="night" style="display:flex;width:100%;height:100px">
        <wz-card style="flex:1;margin:0px 10px" header-config='{
            cardTitleColor: " rgba(255, 255, 255, 1)",
            fontColor: "black"
        }' body-config='{
            cardBodyColor: "rgba(255, 255, 255, 1)",
        }'>
            <div slot="card_header_left">
                头部左边
            </div>
            <div slot="card_container">
                <div>测试数据</div>
            </div>
        </wz-card>
        <wz-card style="flex:1;margin:0px 10px" header-config='{
            cardTitleColor: " rgba(255, 255, 255, 1)",
            fontColor: "black"
        }' body-config='{
            cardBodyColor: "rgba(255, 255, 255, 1)",
        }'>
            <div slot="card_header_left">
                头部左边
            </div>
            <div slot="card_container">
                <div>测试数据</div>
            </div>
        </wz-card>
        <wz-card style="flex:1;margin:0px 10px" header-config='{
            cardTitleColor: " rgba(255, 255, 255, 1)",
            fontColor: "black"
        }' body-config='{
            cardBodyColor: "rgba(255, 255, 255, 0.1)",
        }'>
            <div slot="card_header_left">
                头部左边
            </div>
            <div slot="card_container">
                <div>测试数据</div>
            </div>
        </wz-card>
    </div>

    <script>
        customElements.whenDefined('wz-card').then(() => {
            // let event = new CustomEvent('mode', {
            //     detail: {
            //         title: "我是标题哦"
            //     }
            // })
            // // 最后还跟着是否能够冒泡和是否阻止默认操作
            // globalThis.dispatchEvent(
            //     event, true, false
            // )
            console.log("webzen:",webzen)
            window.webzenMode("mode",{mode:"light"},webzen)
            // webzen("mode")
        })
            

    </script>
</body>

</html>